{% extends 'base.html' %}

{% block app_content %}

    {% if artist_name %}
        <h1 class="page-title">Albums - {{ artist_name }}</h1>
    {% else %}
        <h1 class="page-title">Albums</h1>
    {% endif %}
    <br>
    <ul class="song-list">
        {% for album in albums %}
            <li class="song-list-entry" id="album-id-{{ album[0] }}" onclick="window.location.href = '{{ url_for('songs', album_id=album[0]) }}'">
                <div class="song-list-entry-content">
                    <span class="album-page-title">{{ album[1] }}</span>
                    <span class="album-release-year">{{ album[2] }}</span>
                    <span class="song-options">
                        <span onclick="event.stopPropagation(); window.location.href = '{{ url_for('songs', album_id=album[0]) }}'" title="Album's Songs"><i class="fab fa-stripe-s"></i></span>
                    </span>
                    <span class="flex-break"></span>
                    <span class="artist-title">{{ album[5] }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% block player_content %}{% endblock %}

{% endblock %}