{% extends 'base.html' %}

{% block app_content %}

    <h1 class="page-title">Artists</h1>
    <br>
    <ul class="song-list">
        {% for artist in artists %}
            <li class="song-list-entry" id="artist-id-{{ artist[0] }}" onclick="window.location.href = '{{ url_for('songs', artist_id=artist[0]) }}'">
                <div class="song-list-entry-content">
                    <h4 class="song-title">{{ artist[1] }}</h4>
                    <span class="song-options">
                        <span onclick="event.stopPropagation(); window.location.href = '{{ url_for('albums', artist_id=artist[0]) }}'" title="Artist's Albums"><i class="fab fa-atlassian"></i></span>
                        <span onclick="event.stopPropagation(); window.location.href = '{{ url_for('songs', artist_id=artist[0]) }}'" title="Artist's Songs"><i class="fab fa-stripe-s"></i></span>
                    </span>
                    <span class="flex-break"></span>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% block player_content %}{% endblock %}

{% endblock %}