{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}Test Server - {{ title }}{% else %}Test Server{% endif %}
{% endblock %}

{% block head %}
    <base href="/">
    {% block styles %}
        {{ super() }}
        <link href="static/css/base.css" type="text/css" rel="stylesheet">
    {% endblock %}
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/c22a091da8.js" crossorigin="anonymous"></script> -->
	<script type="text/javascript" src="{{ url_for('static', filename = 'lib/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'lib/font-awesome.js') }}"></script>
{% endblock %}

{% block navbar %}

    <nav class="navbar navbar-inverse" style="border-radius: 0px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Audio Streaming Service</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('playlists') }}">Playlists</a></li>
                    <li><a href="{{ url_for('artists') }}">Artists</a></li>
                    <li><a href="{{ url_for('albums') }}">Albums</a></li>
                    <li><a href="{{ url_for('songs') }}">Songs</a></li>
                    <li><a href="{{ url_for('upload') }}">Upload</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}

    <div class='container'>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class='alert alert-info' role='alert'>{{ message }}</div>
            {% endfor %}
        {% endwith %}

        <div class="app-content">
	        {% block app_content %}{% endblock %}
	    </div>
    </div>

{% endblock %}

{% block scripts %}
	{% block app_scripts %}{% endblock %}
{% endblock %}
