{% extends 'base.html' %}
{% include 'player.html' %}

{% block app_content %}

    <h1 style="text-align: center">Playlist</h1>
    <br>
    <button onclick="startPlaylist(false)">Play</button>
    <button onclick="startPlaylist(true)">Shuffle</button>
    <ul class="song-list">
		{% for song in songs %}
		    <li class="song-list-entry" id="audio-{{ song[7] }}" onclick="startPlaylist(false, '{{ song[7] }}')">
		    	<img class="song-list-album-art" width="50" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Polygondwanaland.jpg/440px-Polygondwanaland.jpg"></img>
		    	<div class="song-list-entry-content">
					<span class="song-title">{{ song[8] }}</span>
					<span class="album-title">{{ song[11] }}</span>
					<span class="song-duration">{{ song[9] }}</span>
					<span class="flex-break"></span>
					<span class="artist-title">{{ song[12] }}</span>
		    	</div>
		    </li>
		{% endfor %}
	</ul>

	{% block player_content %}{% endblock %}

{% endblock %}

{% block app_scripts %}
	<script>
		function startPlaylist(shuffle, id) {
			$.ajax({
				url: "/generate-playlist-queue-json?playlist_id={{ playlist[0] }}&shuffle=" + shuffle,
				dataType: 'json',
				success: function(result) {
					window.songs = result;
					if (id) {
						playSong(id, true);
					} else if (window.songs.length > 0) {
						playSong(window.songs[0][0], true);
					}
				},
				error: function(result) {
					console.error(result);
				}
			});
		}
	</script>

	{% block player_scripts %}{% endblock %}
{% endblock %}